@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

button.transparent{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
}

body {
  width: 100%;
  background-color: rgb(227, 218, 221);
  
}

#about-section{
    position: absolute;
    top: 5%;
    padding-left: 50px;
    transition: 0.3s ease-in-out;
    
}

#about-section .section-content{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}



#about-section .image-warper img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

#about-section .section-content .about-detail {
    position: relative;
    padding-left: 18%;
}

#about-section .section-content .about-detail .section-title{
    text-transform: uppercase;
    font-size: 28px;
    color: #0a8c54;
}
#about-section .section-content .about-detail h2:hover,
#about-section .section-content .about-detail h2.active{
  color: #05673d;
}

#about-section .section-content .about-detail h2.active::after,
#about-section .section-content .about-detail h2:hover::after{
  content: "";
  width: 18%;
  height: 4px;
  border-radius: 5px;
  background: #088c53;
  position: absolute;
  left: 30%;
  top: 18%;
}
#about-section .section-content .about-detail p{
    font-size: 16px;
    line-height: 30px;
}

#about-section .social-link-list{
    display: flex;
    gap: 30px;
}

#about-section .social-link-list a{
    text-decoration: none ;
    color: rgb(81, 80, 80);
}

#about-section .social-link-list i{
    font-size: 24px;
}

#about-section .social-link-list i:hover{
    font-size: 25px;
    color: black;
}

